html, body {
    height: 100%;
}

.row > .col-md-6.col-xs-6 {
    height: 100%;
    position: relative;
    float: left;
}


input[type="number"] {
    position: relative;
    float: right;
    text-align: right;
    margin-left: 2px;
    width: 30%;
    height: 5%;
    -moz-appearance: textfield;
}

.btn.btn-xs.btn-primary {
    margin-bottom: 2px;
    position: relative;
    float: left;
}

input[type="text"] {
    background: #fff;
    border: none;
    /*outline: none;*/
    text-align: left;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-top: 3px;
    /*margin-right: 4px;*/
    /*margin-left: 4px;*/
    position: relative;
    float: right;
    width: 60%;
}

input[type="text"]:hover {
    background: #eee;
}

.toggle {
    margin-bottom: 2px;
}

input[type="text"]:disabled {
    background: #fff;
}
.analog-text {
    background: #fff;
    border: none;
    /*outline: none;*/
    text-align: left;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 3px;
    width: 40%;
    /*margin-right: 24px;*/
    margin-left: 8px;
    position: relative;
    float: left;
}
.analog-text:hover {
    background: #eee;
}

.analog-text:disabled {
    background: #fff;
}


.bootstrap-switch{
    position: relative;
    float: left;
}

.label {
    font-size: 18px;
    position: relative;
    float: left;
    width: 24%;
    margin-bottom: 2px;
}

.label + input[type="text"] {
    margin-top: 2px;
    margin-bottom: 2px;
    /*text-align: left;*/
}

.indicator {
    font-size: 24px;
    position: relative;
    float: left;
}

.counter-indicator {
    color: #f0ad4e;
    margin-left: 8px;
    margin-right: 24px;
}

.temp-indicator {
    font-size: 24px;
    position: relative;
    float: center;
    color: #811b0a;
}


*:not(input):not(textarea) {
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;

}
#custom-header {
    height: 20%;
}

#panel-body {
    height: 90px;
}


#custom-body {
    height: calc(100% - 20%);
}

#custom-footer {
    height: 32px;
    content: "beyaz.net";
    position: relative;
    float: left;
}

img {
    position: relative;
    float: right;
}

.pull-right {
    margin-bottom: 2px;
    margin-top: 2px;
}
.message-link, .message-link:hover {
    color: #333333;
    padding-right: 8px;
    text-decoration:none;
    cursor: pointer;

}