html, body {
    height: 100%;
}

input[type="number"] {
    text-align: right;
    position: relative;
    float: center;
    -moz-appearance: textfield;
}

input[type="text"] {
    background: #fff;
    border: none;
    width: 100%;
}

input[type="text"]:hover {
    background: #eee;
}

input[type="text"]:disabled {
    background: #fff;
}

.toggle {
    margin-bottom: 2px;
}

.analog-text {
    background: #fff;
    border: none;
    width: 100%;
    margin-bottom: 2px;
}

.analog-text:hover {
    background: #eee;
}

.analog-text:disabled {
    background: #fff;
}

.label-digital {
    font-size: 18px;
    position: relative;
    float: left;
    width: 50px;
    margin-top: 3px;
    margin-bottom: 2px;
}

.label-analog {
    font-size: 18px;
    position: relative;
    float: left;
    width: 60px;
    margin-bottom: 2px;
}

.indicator {
    font-size: 24px;
}

.counter-indicator {
    font-size: 24px;
    color: #f0ad4e;
}

.temp-indicator {
    font-size: 24px;
    color: #811b0a;
}

.no-side-space {
    padding-left: 2px;
    padding-right: 2px;
}

.space-on-top {
    padding-top: 6px;
}

.space-on-bottom {
    padding-bottom: 8px;
}

#custom-body {
    padding: 5px;
}

#panel-body {
    height: 90px;
}

.panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#page-header {
   text-align: center;
}

.message-link, .message-link:hover {
    color: #333333;
    padding-right: 8px;
    text-decoration:none;
    cursor: pointer;

}

img {
    position: relative;
    float: right;
}

a {
    padding-right: 5px;
}

*:not(input):not(textarea) {
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;

}
